
      body {
        background-color: blue;
        font-family: Arial, sans-serif;
        font-size: 18px;
        background-image: url("https://images.unsplash.com/photo-1628935687655-8530bb7211bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fGNhbGN1bGF0b3J8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");

      }
      #calculator {
        background-color: transparent;
        border: 5px solid blue;
        border-radius: 10px;
        margin: 20px auto;
        padding: 30px;
        width: 300px;
        margin-top: 200px;
        
      }
      #display {
        background-color: slategray;
        border: none;
        border-radius: 4px;
        color: #333;
        font-size: 24px;
        height: 48px;
        margin-bottom: 10px;
        padding: 10px;
        text-align: right;
        width: 100%;
      }
      .operator,
      .number {
        background-color: #f2f2f2;
        border: none;
        border-radius: 4px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        color: #333;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        margin: 5px;
        padding: 0 10px;
        transition: background-color 0.1s ease-in-out;
        width: 40px;
      
      }
      
      
    
 
